{
  "openapi": "3.1.0",
  "info": {
    "title": "Matinee AI API",
    "version": "v1",
    "description": "Infrastructure for AI-powered digital economies. Generated from src/api/ — see docs/api/. This document is the contract between the frontend, backend, SDKs and third-party developers (Phase 9 §1).",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.matinee.ai/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox-api.matinee.ai/v1",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Session lifecycle. No public signup — Phase 7 §5.5 gives two entry paths, both elsewhere."
    },
    {
      "name": "Access requests",
      "description": "The door. Phase 7 §5.5: there is no public signup, so this is how an organization begins."
    },
    {
      "name": "Organizations",
      "description": "The tenant."
    },
    {
      "name": "Team",
      "description": "Membership and roles. The second entry path (Phase 7 §5.5) is here."
    },
    {
      "name": "Customers",
      "description": "End users of a business. Phase 7 §11 forbids merging these with platform users."
    },
    {
      "name": "Wallets",
      "description": "Holders of balances. Balances themselves are derived from the ledger (ADR-0008)."
    },
    {
      "name": "Ledger",
      "description": "Double-entry postings. The invariants are enforced by the database regardless of caller (Phase 8 §66)."
    },
    {
      "name": "Assets",
      "description": "Digital assets. Blockchain is an optional adapter (ADR-0009), so deployment is a separate, gated operation."
    },
    {
      "name": "Rewards",
      "description": "Programmes, versions and rules. Editing an active rule creates a draft (Phase 7 §14.3)."
    },
    {
      "name": "Events",
      "description": "Business events in, platform events out. ADR-0012 makes duplicates expected."
    },
    {
      "name": "Webhooks",
      "description": "Signed outbound delivery with the Phase 7 §19.3 retry schedule."
    },
    {
      "name": "Developers",
      "description": "Projects, keys and usage."
    },
    {
      "name": "AI",
      "description": "Read-only assistance plus a proposal-and-approval boundary. Phase 7 §17.5."
    },
    {
      "name": "Analytics",
      "description": "Served from aggregates. Phase 7 §21 forbids querying transactional tables directly."
    },
    {
      "name": "Audit",
      "description": "Read-only. Phase 8 makes audit_logs append-only with a trigger, so there is no write endpoint to specify."
    },
    {
      "name": "Notifications",
      "description": "In-app notifications and delivery preferences."
    },
    {
      "name": "Security",
      "description": "Alerts, devices and sessions."
    },
    {
      "name": "Search",
      "description": "One query across seven resource types, tenant filtered."
    },
    {
      "name": "Batch",
      "description": "Bulk writes. Every item is authorized and idempotency-keyed independently."
    },
    {
      "name": "Digital Assets",
      "description": "The Digital Asset Engine's public surface. §2: infrastructure is chosen after the business purpose, so none of these endpoints requires a chain."
    },
    {
      "name": "Blockchain Transactions",
      "description": "The §24 transaction lifecycle, read and operated on. Empty in every environment — nothing has been submitted to a network."
    },
    {
      "name": "Blockchain Networks",
      "description": "The network registry. Returns an empty collection: §22 says start with one or two networks based on actual customer need, and no adapter exists to make one real."
    },
    {
      "name": "Treasury",
      "description": "§17.1's seven accounts, served from the ledger rather than from a treasury table — ADR-0008 keeps every balance in the ledger, and a treasury balance held elsewhere would be a second source of truth."
    },
    {
      "name": "Approvals",
      "description": "§34 — the human decision point for high-risk operations. The four-eyes rule is enforced beneath this API: the database refuses a decision from the user who raised the request."
    },
    {
      "name": "AI Agents",
      "description": "§9 — a configured AI worker with a role, permissions, tools and operating rules. §3 caps its authority at the invoking user's."
    },
    {
      "name": "AI Conversations",
      "description": "§49 — the Business Assistant surface. Phase 9 §19 opened this group; §66.2 completes it."
    },
    {
      "name": "AI Runs",
      "description": "§12 — one agent task. §41 calls the record a trace."
    },
    {
      "name": "AI Actions",
      "description": "§29–§30 — where everything the AI cannot do on its own authority arrives for a human decision."
    },
    {
      "name": "AI Knowledge",
      "description": "§18–§23. Phase 8 built the tables and pgvector; nothing is indexed, because there is no embedding provider."
    },
    {
      "name": "AI Memory",
      "description": "§24–§26 — memory must be controlled and transparent, which means the user can see and delete it."
    },
    {
      "name": "AI Prompts",
      "description": "§27 and §57 — prompts as versioned product assets rather than string literals in application code."
    },
    {
      "name": "AI Evaluations",
      "description": "§43–§44 — every production agent is evaluated before activation, and the golden set is what it is evaluated against."
    },
    {
      "name": "AI Usage",
      "description": "§39–§40 — AI usage becomes expensive without controls, so cost is a first-class read."
    },
    {
      "name": "Workflows",
      "description": "§1 — the automation layer that connects triggers, conditions, actions, AI decisions and approvals. §26 puts the definition in versions, so a workflow row is identity, status and risk."
    },
    {
      "name": "Workflow Versions",
      "description": "§27 — eleven fields per version, six of them inside the §64 definition document. §3.4 makes a published one immutable."
    },
    {
      "name": "Workflow Validation",
      "description": "§29 — twelve rules. Six are decidable from the definition alone; six need a runtime, a connector or a live endpoint, and one of those cannot be decided at publish time at all."
    },
    {
      "name": "Workflow Simulation",
      "description": "§30 — evaluate a workflow against a sample event without changing production data."
    },
    {
      "name": "Workflow Lifecycle",
      "description": "§26 and §80 — publishing freezes a version; pausing stops the next execution rather than recording an intention to."
    },
    {
      "name": "Workflow Execution",
      "description": "§6 — the manual and API trigger types. The other five start a workflow without a request."
    },
    {
      "name": "Workflow Executions",
      "description": "§33 and §43 — one independent run, and the history that makes it explicable. §13.1 keeps the state in a row rather than a process, which is why §80's delayed workflows survive a restart."
    },
    {
      "name": "Workflow Approvals",
      "description": "§15 — execution stops here until a human decides. The third approval surface in the platform, after Phase 10 §67 and Phase 11 §29; ADR-0026 records why the tables are separate and the four-eyes rule is not."
    }
  ],
  "security": [
    {
      "session": []
    },
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "session": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session token from POST /auth/login."
      },
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A secret API key. Scoped to one organization and one environment."
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "required": [
          "request_id",
          "version"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Echo of X-Request-ID, generated when the client does not send one."
          },
          "version": {
            "type": "string",
            "const": "v1"
          }
        }
      },
      "PageMeta": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Meta"
          },
          {
            "type": "object",
            "required": [
              "has_more"
            ],
            "properties": {
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Opaque cursor for the next page."
              },
              "has_more": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "type",
              "code",
              "message",
              "request_id"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "authentication_error",
                  "authorization_error",
                  "not_found",
                  "validation_error",
                  "rate_limit_error",
                  "idempotency_error",
                  "service_error",
                  "conflict"
                ]
              },
              "code": {
                "type": "string",
                "enum": [
                  "unauthenticated",
                  "invalid_credentials",
                  "permission_denied",
                  "organization_mismatch",
                  "environment_mismatch",
                  "resource_not_found",
                  "validation_failed",
                  "rate_limit_exceeded",
                  "idempotency_key_reused",
                  "internal_error",
                  "ledger_unbalanced",
                  "ledger_amount_invalid",
                  "ledger_precision_exceeded",
                  "ledger_account_mismatch",
                  "ledger_transaction_immutable",
                  "ledger_already_reversed",
                  "insufficient_balance",
                  "wallet_frozen",
                  "wallet_closed",
                  "wallet_policy_violation",
                  "asset_paused",
                  "asset_supply_exhausted",
                  "asset_already_deployed",
                  "asset_deployment_unconfirmed",
                  "reward_rule_invalid",
                  "reward_program_not_active",
                  "reward_budget_exhausted",
                  "reward_limit_reached",
                  "reward_version_published",
                  "event_duplicate",
                  "event_type_unknown",
                  "customer_email_invalid",
                  "customer_external_id_taken",
                  "mfa_required",
                  "session_expired",
                  "invitation_expired",
                  "last_owner",
                  "access_request_decided",
                  "api_key_revoked",
                  "webhook_endpoint_failing",
                  "webhook_delivery_not_found",
                  "ai_action_already_reviewed",
                  "ai_context_denied",
                  "batch_too_large",
                  "batch_partial_failure",
                  "asset_not_validated",
                  "asset_not_active",
                  "asset_minting_disabled",
                  "asset_burn_disabled",
                  "transfer_not_permitted",
                  "redemption_not_permitted",
                  "redemption_inventory_exhausted",
                  "network_unavailable",
                  "deployment_validation_failed",
                  "transaction_not_retryable",
                  "nonce_conflict",
                  "treasury_limit_exceeded",
                  "approval_required",
                  "approval_policy_invalid",
                  "approval_already_decided",
                  "approval_expired",
                  "approval_self_approval_forbidden",
                  "ai_provider_unavailable",
                  "ai_cost_limit_reached",
                  "ai_agent_not_runnable",
                  "ai_agent_not_evaluated",
                  "ai_agent_version_invalid",
                  "ai_agent_tool_not_registered",
                  "ai_agent_permission_exceeds_caller",
                  "ai_tool_risk_mismatch",
                  "ai_tool_approval_required",
                  "ai_memory_source_untrusted",
                  "ai_prompt_not_approved",
                  "ai_output_validation_failed",
                  "ai_safety_policy_triggered",
                  "workflow_not_runnable",
                  "workflow_version_immutable",
                  "workflow_validation_failed",
                  "workflow_action_not_permitted",
                  "workflow_secret_unresolved",
                  "workflow_loop_limit_exceeded",
                  "workflow_cost_limit_reached",
                  "workflow_execution_not_replayable",
                  "workflow_node_not_retryable"
                ]
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "Resource": {
        "type": "object",
        "description": "A resource object. Concrete shapes are defined per endpoint as the implementation lands.",
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "summary": "Exchange credentials for a session.",
        "description": "Phase 9 §7. Writes: user_sessions, audit_logs. Returns access token, refresh token, session, user and the organizations the user belongs to — §9.4 of Phase 7 loads memberships after the session exists.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "auth.refresh",
        "summary": "Exchange a refresh token for a new access token.",
        "description": "Phase 9 §7. Writes: user_sessions.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "summary": "Revoke the current session.",
        "description": "Phase 9 §7. Writes: user_sessions, audit_logs.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "auth.me",
        "summary": "The authenticated user, their memberships and effective permissions.",
        "description": "Phase 9 §7. Reads: users, organization_memberships, roles, role_permissions, permissions.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/mfa/verify": {
      "post": {
        "operationId": "auth.mfa.verify",
        "summary": "Complete a second-factor challenge.",
        "description": "Phase 9 §7. Reads: user_mfa_methods. Writes: user_sessions, audit_logs.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/auth/passkey/login": {
      "post": {
        "operationId": "auth.passkey.login",
        "summary": "Authenticate with a passkey.",
        "description": "Phase 9 §7. Reads: user_identities, user_mfa_methods. Writes: user_sessions, audit_logs.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/access-requests": {
      "post": {
        "operationId": "accessRequests.create",
        "summary": "Submit an access request.",
        "description": "Phase 9 §8. Requires an `Idempotency-Key`. Writes: access_requests. Phase 5 §5.4 gives nine required fields and four optional. Rate limited harder than the authenticated surface — it is the only unauthenticated write.",
        "tags": [
          "Access requests"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "accessRequests.list",
        "summary": "List access requests.",
        "description": "Phase 9 §8. Requires `security.access_requests.review`. Reads: access_requests.",
        "tags": [
          "Access requests"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from a previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Items per page, up to 100.",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "description": "Filter by industry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "description": "Filter by created_after.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Resource"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/access-requests/{id}": {
      "patch": {
        "operationId": "accessRequests.update",
        "summary": "Update reviewer notes or assignment.",
        "description": "Phase 9 §8. Requires `security.access_requests.review`. Writes: access_requests, audit_logs.",
        "tags": [
          "Access requests"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access request identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/access-requests/{id}/approve": {
      "post": {
        "operationId": "accessRequests.approve",
        "summary": "Approve a request and provision the organization.",
        "description": "Phase 9 §8. Requires `security.access_requests.review`. Requires an `Idempotency-Key`. Writes: access_requests, organizations, organization_environments, organization_memberships, audit_logs. Creates both logical environments (Phase 8 §6) in the same transaction as the organization.",
        "tags": [
          "Access requests"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access request identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the operations that declare idempotency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/access-requests/{id}/reject": {
      "post": {
        "operationId": "accessRequests.reject",
        "summary": "Reject a request.",
        "description": "Phase 9 §8. Requires `security.access_requests.review`. Requires an `Idempotency-Key`. Writes: access_requests, audit_logs. Phase 5 §5.4 forbids promising an approval date; the response carries no timeframe.",
        "tags": [
          "Access requests"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access request identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the operations that declare idempotency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "operationId": "organizations.create",
        "summary": "Create an organization.",
        "description": "Phase 9 §9. Requires `organizations.create`. Requires an `Idempotency-Key`. Writes: organizations, organization_environments, organization_memberships, audit_logs. Normally reached through access-request approval; direct creation is restricted.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the operations that declare idempotency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "organizations.get",
        "summary": "Read an organization.",
        "description": "Phase 9 §9. Requires `organizations.view`. Reads: organizations.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "session": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "organizations.update",
        "summary": "Update an organization.",
        "description": "Phase 9 §9. Requires `organizations.edit`. Writes: organizations, audit_logs. Phase 8 §47 — the request carries the expected version and a stale one is rejected.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "organizations.delete",
        "summary": "Begin organization deletion.",
        "description": "Phase 9 §9. Requires `organizations.delete`. Requires an `Idempotency-Key`. Writes: organizations, audit_logs. Phase 8 §50 — soft delete then an orchestrated workflow. Ledger and audit records are preserved (§33), so this is never an immediate purge.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the operations that declare idempotency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/settings": {
      "get": {
        "operationId": "organizations.settings.get",
        "summary": "Read organization settings.",
        "description": "Phase 9 §9. Requires `organizations.view`. Reads: organizations.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "organizations.settings.update",
        "summary": "Update organization settings.",
        "description": "Phase 9 §9. Requires `organizations.edit`. Writes: organizations, audit_logs.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Resource"
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/members": {
      "get": {
        "operationId": "team.members.list",
        "summary": "List members.",
        "description": "Phase 9 §10. Requires `organizations.members.view`. Reads: organization_memberships, users, roles.",
        "tags": [
          "Team"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from a previous page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Items per page, up to 100.",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "required": false,
            "description": "Filter by role_id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Resource"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "team.members.invite",
        "summary": "Invite a member.",
        "description": "Phase 9 §10. Requires `organizations.members.manage`. Requires an `Idempotency-Key`. Writes: organization_invitations, audit_logs.",
        "tags": [
          "Team"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Organization-ID",
            "in": "header",
            "required": true,
            "description": "Which tenant the request acts on. Client-supplied and therefore never trusted. The server validates it against the authenticated principal’s memberships and rejects with organization_mismatch. ADR-0007’s three isolation layers apply regardless of this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Environment",
            "in": "header",
            "required": true,
            "description": "sandbox or production. An API key is scoped to one environment (Phase 8 §65 scenario 4). A mismatch is environment_mismatch, not a silent switch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "description": "Client-supplied correlation id; generated if absent. Echoed in every response and every error (§6), and written to Phase 8 api_request_logs.request_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required on the operations that declare idempotency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "required": false,
            "description": "Reported by official SDKs, for deprecation targeting.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              },
              "RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "§29 rate limit state."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Resource"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
[...]
